h2 {
    color: teal;
    background-color: rgb(130,229,156);
}
button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: orange;
}

body {
    background-color: aquamarine;
}